{% extends 'base.html' %}
{% block content %}
    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name() }}
        <br>
        {{ form.last_name.label }} {{ form.last_name() }}
        <br>
        {{ form.username.label }} {{ form.username() }}
        <br>
        {{ form.password.label }} {{ form.password() }}
        <br>
        {{ form.repeat_password.label }} {{ form.repeat_password() }}
        <input type="submit" value="Create User">
    </form>
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
{% endblock %}